root = true

[*]
insert_final_newline = true
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# There is some inconsistency with this in the disassembly, but over time I gradually increased my
# line length setting from 80 to 100. Let's keep it there.
max_line_length = 100

[*.s]
tab_width = 8
indent_style = tab
indent_size = tab

[*.yaml]
indent_size = 2

[Makefile]
tab_width = 4
indent_size = tab
indent_style = tab

[Dockerfile]
indent_size = 4
