root = true

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.s]
indent_size = 8
indent_style = tab

# There is some inconsistency with this in the disassembly, but over time I
# gradually increased my line length setting to 100. Let's keep it there.
max_line_length = 100

[Dockerfile]
indent_size = 4
